<div class="container">
<div class="row">
  <div class="col-sm-4 grey"><div class="blue" style="margin-left: 20px">Hell22o</div></div>
  <div class="col-sm-4" style="background: yellow;"><div class="blue" style="margin-left: 20px">Hell22o</div></div>
  <div class="col-sm-4 grey"><div class="blue" style="margin-left: 20px">Hell22o</div></div>
</div>
</div>

<div ng-controller="TaskCtrl" class="col-sm-7 col-md-6">
    <div class="table-content-div">
      <table class="borderless-table">
        <thead>
          <tr class="table-header-row">
            <th class="focus-indicator"></th>
            <th class="check-box table-column" >
              <input type="checkbox" ng-click="ctrl.toggleAllIssueSelection()">
            </th>
            <th class="col-stared table-column"></th>

            <th ng-repeat="col in columns_meta" class="table-column" >
              {{col.display_name}} <span ng-class="column_sorted_class" ng-hide="col.display_name == column_sorted_currrent"></span>
            </th>
          </tr>
        </thead>
      </table>
    </div>

    <ul ng-repeat="task in tasks">
      <li> {{task.taskText}} status: {{task.done}} {{task}}</li>
    </ul>
</div>