<div>
<div class="container">
  <a href="/main" class="back_link">Back</a>
</div>
<div class="float-clear"> </div>
<div class="task-create-row container new-issue-padding">
  <div class="task-create-title col-sm-7 " >
    <input type="text" ng-model="newTask.title" class="full-size-input " placeholder="Title" name="title" autocomplete="off">
  </div>
  <div class="task-create-priority col-sm-2">
    <input list="priorities" data-ng-model="newTask.priority" placeholder="Priorites">
  </div>
  <div class="task-create-priority col-sm-2">
    <input data-ng-model="newTask.project" data-ng-model="newTask.project" placeholder="Projects">
  </div>
</div>

<div class="float-clear"> </div>

<div class="task-create-row container new-issue-padding">
  <div class="task-note">
<textarea class="task-note col-sm-11" data-ng-model="newTask.note" data-ng-trim="false" placeholder="Notes" autocomplete="off"></textarea>
  </div>
</div>

<div class="task-create-row container">
  <div class="col-sm-12">
    <button type="submit" class="btn-default btn" ng-click="addTask(newTask)">Create</button>
  </div>
</div>
</div>
